{% include "header.html" %}


<section id="add" class="add">
    <div class="container">
        <div class="section-title">
            <h3>Register <span>Now</span></h3>
            <p>To add YOUR favorite cafe to the list.</p>
        </div>
        <form method="post" action="{{ url_for('register') }}">
            <div class="row">
                {{ form.csrf_token }}

                <div class="col-lg-6 mt-5 mt-lg-0" style="margin-left: 230px;">
                    {{ form.name.label }}
                    {{ form.name(class='form-control') }}

                    {{ form.email.label }}
                    {{ form.email(class='form-control') }}

                    {{ form.password.label }}
                    {{ form.password(class='form-control')}}

                    {{ form.submit(class="random-cafe-btn add-btn")}}
                </div>
            </div>
        </form>
    </div>
</section>

{% include "footer.html" %}